body{ font-size: 12px; font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif; }

div.img { width: 90px; height: 120px; }

div.img > img { width: auto; width: auto; max-width: 100%; max-height: 100%; }